<div class="favorite-display">
  <div class="filter">
    <app-filter-select></app-filter-select>
  </div>
  <div class="cards">
    <ng-container *ngIf="(favoriteMovies$ | async) as favorites">
      <mat-card *ngFor="let favorite of favorites">
        <mat-card-header>
          <mat-card-title>
            {{favorite.Title}}
          </mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="favorite.Poster" />
        <mat-card-content>
          <div>{{favorite.Genre}}</div>
          <div>{{favorite.Year}}</div>
        </mat-card-content>
      </mat-card>
    </ng-container>
  </div>
</div>
