.search-display {
  .cards {
    display: flex;
    flex-wrap: wrap;

    .mat-card {
      width: 10%;
      margin: 10px;

      .mat-raised-button {
        margin: 5px;
      }
    }
  }
}
