<div class="search-display">
  <p>
    Search for a movie by title:
  </p>
  <div class="search-box">
    <app-search-box></app-search-box>
  </div>
  <div class="error-message" *ngIf="(movieError$ | async) as movieError; else movieListTemplate">
    {{movieError}}
  </div>
  <ng-template #movieListTemplate>
    <div class="cards">
      <mat-card *ngFor="let movie of (movieList$ | async)">
        <mat-card-header>
          <mat-card-title>
            {{movie.Title}}
          </mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="movie.Poster" />
        <mat-card-content>
          <div>{{movie.Type}}</div>
          <div>{{movie.Year}}</div>
          <button mat-raised-button (click)="onMovieFavorited(movie)">
            Add To Favorites
          </button>
        </mat-card-content>
      </mat-card>
    </div>
  </ng-template>
</div>
